/* /Unorder List */
/* ol {
    list-style-type: square;} */
/* Order List */
/* ol{
    list-style-type: decimal;
} */
/* Images for Bullets */
/* ul{
    list-style-image: url(heart.png);
}
li{
    margin: 10px 0px 0px 0px;
} */

/* List-Style-Position */
/* ul {
    width: 150px;}
    li {
    margin: 10px;}
    ul.illuminations {
    list-style-position: outside;}
    ul.season {
    list-style-position: inside;} */

    /* List Shorthand.html */
    /* ul {
        list-style: inside circle;
        width: 300px;}
    li {
        margin: 10px 0px 0px 0px;}
         */

/* Table Properties */
/* body {
    width: 600px;
    border: 1px solid rgb(140, 0, 255);
    font-family: Arial, Verdana, sans-serif;
    color: rgb(54, 201, 40);}
    table {
    width: 600px;}
    th, td {
    padding: 7px 10px 10px 10px;}
    th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #bd1010;
    border-top: 1px solid #9e0808;
    text-align: left;}
    tr.even {
    background-color: #ffffff;}
    tr:hover {
    background-color: #51d8d3;}
    .money {
    text-align: right;} */

    /* Empty Cell */
    /* td {
        border: 1px solid #0088dd;
        padding: 15px;}
        table.one {
        empty-cells: show;}
        table.two {
        empty-cells: hide;} */

/* Gaps Between Cells */
/* td {
    background-color: #0088dd;
    padding: 15px;
    border: 2px solid #000000;}
    table.one {
    border-spacing: 5px 15px;}
    table.two {
    border-collapse: collapse;} */

    /* Styling Text Form */
    /* input {
        font-size: 120%;
        color: #f7f7f7;
        background-color: #8d8484;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: 5px 5px 5px 30px;
        background-repeat: no-repeat;
        background-position: 8px 9px;
        display: block;
        margin-bottom: 10px;}
        input:focus {
        background-color: #b60606;
        border: 1px solid #b1e1e4;}
        input#email {
        background-image: url("images/email.png");}
        input#twitter {
        background-image: url("images/twitter.png");}
        input#web {
        background-image: url("images/web.png");} */

        /* style submit buttons. */
        /* input {
            color: #444444;
            text-shadow: 0px 1px 1px #ffffff;
            border-bottom: 2px solid #b2b2b2;
            background-color: #b9e4e3;
            background: -webkit-gradient(linear, left top,
            left bottom, from(#beeae9), to(#a8cfce));
            background:
            -moz-linear-gradient(top, #beeae9, #a8cfce);
            background:
            -o-linear-gradient(top, #beeae9, #a8cfce);
            background:
            -ms-linear-gradient(top, #beeae9, #a8cfce);}
            input#submit:hover {
            color: #333333;
            border: 1px solid #a4a4a4;
            border-top: 2px solid #b2b2b2;
            background-color: #a0dbc4;
            background: -webkit-gradient(linear, left top,
            left bottom, from(#a8cfce), to(#beeae9));
            background:
            -moz-linear-gradient(top, #a8cfce, #beeae9);
            background:
            -o-linear-gradient(top, #a8cfce, #beeae9);
            background:
            -ms-linear-gradient(top, #a8cfce, #beeae9);} */

            /* Styling Fieldsets & Legends */
           /* input {
                width: 350px;
                border: 1px solid #dcdcdc;
                border-radius: 10px;
                padding: 20px;
                text-align: right;}
                legend {
                background-color: #efefef;
                border: 1px solid #dcdcdc;
                border-radius: 10px;
                padding: 10px 20px;
                text-align: left;
                text-transform: uppercase;} */
                

                /*Aligning Form Controls: Problem */
                /* div {
                    border-bottom: 1px solid #efefef;
                    margin: 10px;
                    padding-bottom: 10px;
                    width: 260px;}
                    .title {
                    float: left;
                    width: 100px;
                    text-align: right;
                    padding-right: 10px;}
                    .radio-buttons label {
                    float: none;}
                    .submit {
                    text-align: right;} */

                    /* Cursor style */
                    a {
                        cursor: move;}